html{height:100%}	
	body {
		margin: 0px;
		padding: 0px;
		background-color:#F0F0F0;
		font-family: Helvetica, Arial, freesans, Verdana, sans-serif;
		font-size:16px;
		height: 100%;
	
		 }
		 
	.code { font-family:monospace;}
	.comment {color:#999999;}
	.wrapper{	margin: 0 auto;
		width: 800px;
		background-color:#F8F8F8  	;
		border-left: 1px solid grey;
		border-right: 1px solid grey;
		padding: 20px;
		min-height:100%;
		box-shadow: 6px 0px 10px -7px #888, -6px 0px 10px -7px #888;}
	
	
	pre {text-indent: 30px}
	.content {font: Arial, Verdana, sans-serif;

	line-height: 1.4em;
	clear: both;
	   display: block;
		text-align: justify;
		
		z-index: 2;	}
		
h2{padding-top:20px; color:darkblue}
	.content a {
		color: #000099; }

	.content a:hover { color: #0033FF; }


		
#home #nav2 li a.project, #goals #nav2 li a.project, #contact #nav2 li a.project, #cooperations #nav2 li a.project, #students #nav2 li a.project, #goals #nav2 li a.goals, #aql #nav2 li a.aql, #vis_overview #nav2 li a.vis_overview, #vis_overview #nav2 li a.visualizations, #vis_gallery #nav2 li a.visualizations, #accessing #nav2 li a.accessing,  #annis3 #nav2 li a.download, #documentation #nav2 li a.download, #tools #nav2 li a.download, #corpora #nav2 li a.download, #older #nav2 li a.download, #new #nav2 li a.project
{
background: #4183C4; border-left: 1px;
}
#home #nav2 ul li a.home, #students #nav2 ul li a.students, #contact #nav2 ul li a.contact, #goals #nav2 ul li a.goals, #cooperations #nav2 ul li a.cooperations, #aql #nav2 ul li a.aql, #visualizations #nav2 ul li a.vis_overview, #accessing #nav2 ul li a.accessing, #vis_gallery #nav2 ul li a.vis_gallery, #annis3 #nav2 ul li a.annis3, #older #nav2 ul li a.older, #tools #nav2 ul li a.tools, #corpora #nav2 ul li a.corpora, #new #nav2 ul li a.new
{
background: #4183C4; border-left: 1px;
}


#nav2 li:hover li { 
	float: none;
	font-size: 12px;
}


#nav2, #nav2 li ul {
	font-family: Arial, Verdana;
	font-size: 14px;
	margin: 0;
	padding: 0;
}
#nav2 li {
	display: block;
	position: relative;
	float: left;
}
#nav2 li ul { display: none; }
#nav2 li a {
	display: block;
	text-decoration: none;
	color: #ffffff;
	border-top: 1px solid #ffffff;
	padding: 5px 15px 5px 15px;
	background: #225566; 
	margin-left: 1px;
	white-space: nowrap;
}

#nav2 li a:hover { background: #617F8A; } 
#nav2 li:hover ul { 
	display: block; 
	position: absolute;
}

#vistable{
	font-size: 12px;
	background: #fff;
	margin: 25px;
	width: 750px;
	border-collapse: collapse;
	text-align: left;
}


#vistable th {
	font-size: 14px;
	font-weight: bold;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
#vistable td
{
	border-bottom: 1px solid #ccc;
	color: #669;
	padding: 6px 8px;
}
#vistable tbody tr:hover td
{
	color: #009;
}
#vistable tr:hover td
{
	color: #339;
	background: #eff2ff;
}


.thumbnail
{
float: left;
border: 1px solid #999;
margin: 0 15px 15px 0;
padding: 5px;
text-align:center;
}

.clearboth { clear: both; }
.note{color: #669; font-size: 12px;}
