<article>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2><i class="fa fa-align-right"></i> multi-layer</h2>
                <p>Atomic does not put constraints on annotation layers, and provides tooling and infrastructure for
                    multi-layer corpus annotation.</p>
            </div>
            <div class="col-md-4">
                <h2><i class="fa fa-laptop"></i> platform-independent</h2>
                <p>Atomic is implemented in Java and runs on all major operating systems (Linux, Mac OS, Windows, etc.).
                </p>
            </div>
            <div class="col-md-4">
                <h2><i class="icon-open-source"></i> open source</h2>
                <p>Atomic is open source under the <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache
                        License, Version 2.0</a>, the code is published on <a
                        href="https://github.com/infraling/atomic">GitHub.</a></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2><i class="fa fa-puzzle-piece"></i> extensible</h2>
                <p>Atomic is extensible via plugins, e.g., for new editors, data views, or NLP components.</p>
            </div>
            <div class="col-md-4">
                <h2><i class="fa fa-plug"></i> compatible</h2>
                <p>Atomic includes <a href="{{site.site_pepper}}">Pepper</a>, a conversion framework for a large number
                    of linguistic formats.</p>
            </div>
            <div class="col-md-4">
                <h2><i class="fa fa-tags"></i> theory-neutral</h2>
                <p>Atomic's data model <a href="{{site.site_salt}}">Salt</a> works independent from certain theories,
                    annotation schemes, tagsets, etc. Bring your own tagset!</p>
            </div>
        </div>
    </div>
</article>