<div itemscope itemtype="http://schema.org/SoftwareApplication" class="wrapper">
      <table>
        <tbody><tr>
          <td><img itemprop="image" src="{{ site.baseurl }}/img/annis_logo.png" width="96" alt="ANNIS logo"/></td>
          <td><h1>{{ site.title }}</h1></td>
    </tr>
    </tbody></table>
    <br/>

    <ul id="nav2">
      <li>
        <a class="project" href="index.html">Project</a>
        <ul>
          <li>
            <a class="home" href="index.html">Home</a>
          </li>
          <li>
            <a class="new" href="new.html">What's new?</a>
          </li>
          <li>
            <a class="goals" href="goals.html">Goals</a>
          </li>
          <li>
            <a class="cooperations" href="cooperations.html">Cooperations</a>
          </li>
          <li>
            <a class="students" href="students.html">Students</a>
          </li>
          <li>
            <a class="contact" href="contact.html">Contact</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="aql" href="aql.html">ANNIS Query Language</a>
      </li>
      <li>
        <a class="visualizations" href="visualizations.html">Visualizations</a>
        <ul>
          <li>
            <a class="vis_overview" href="visualizations.html">Overview</a>
          </li>
          <li>
            <a class="vis_gallery" href="gallery.html">Gallery</a>
          </li>
        </ul>
      </li>
      <li>
        <a itemprop="downloadUrl" class="download" href="download.html">Download</a>
        <ul>
          <li>
            <a class="annis3" href="download.html">ANNIS3</a>
          </li>
          <li>
            <a class="documentation" href="documentation.html">Documentation</a>
          </li>
          <li>
            <a class="older" href="older.html">Older versions</a>
          </li>
          <li>
            <a class="corpora" href="corpora.html">Corpora</a>
          </li>
          <li>
            <a class="tools" href="tools.html">Tools</a>
          </li>
        </ul>
      </li>

      <li>
        <a class="accessing" href="accessing.html">Access</a>
      </li>
    </ul>
