<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- conditional meta tags -->
    {% if page.keywords %}<meta name="keywords" content="{{page.keywords}}" />{% endif %}
    {% if page.description %} <meta name="description" content="{{page.description}}" />
        {% else %}<meta name="description" content="{{site.description}}" />{% endif %}
    {% if page.publisher %}<meta name="publisher" content="{{page.publisher}}">
        {% else %}<meta name="publisher" content="{{site.publisher}}">{% endif %}
    {% if page.author %}<meta name="author" content="{{page.author}}" />
        {% else %}<meta name="author" content="Stephan Druskat, Thomas Krause, Amir Zeldes, Florian Zipser" />{% endif %}
    <meta name="content-language" content="en">
    <meta name="page-topic" content="Linguistics, Software, Research, Corpus, Annotation, Analysis">
    <meta name="revisit-after" content="2 days">
    <meta name="robots" content="index,follow">
    <link rel="canonical" href="http://corpus-tools.org/" /> 
    <title>{%if page.category %}{{page.category}}: {% endif %}{{page.title}} ({{site.title}}) </title>
    <!-- Bootstrap core CSS -->
    <link href="{{ site.bootstrap_dist }}/css/bootstrap.css" rel="stylesheet"/>
    <!-- Bootstrap theme -->
    <link href="{{ site.bootstrap_dist }}/css/bootstrap-theme.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/font-awesome.min.css"/>
    <!-- Custom styles for this template -->
    <link href="{{ site.css_url }}/aql_code.css" rel="stylesheet"/>
    <link href="{{ site.css_url }}/theme.css" rel="stylesheet"/>
    <!-- Includes Salt and Pepper and (Hex)-Atomic icons -->
    <link rel="stylesheet" href="{{ site.css_url }}/fonts.css"/>
    {% if page.needs_gallery %}
    <link rel="stylesheet" href="{{ '/css/colorbox.css' | prepend: site.baseurl }}">
    {% endif %}
</head>
