<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>{% if page.title %}{{ site.title }} - {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" lang="en" content="{{ site.description }}">
    <meta name="keywords" lang="en" content="corpus, corpora, annotation, information structure, ANNIS3, ANNIS"/>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="stylesheet" href="{{ '/css/ANNIS_site.css' | prepend: site.baseurl }}">
    <link rel="shortcut icon" href="{{ '/img/favicon.ico' | prepend: site.baseurl }}">
    
    {% if page.needs_gallery %}
    
	<link rel="stylesheet" href="{{ '/css/colorbox.css' | prepend: site.baseurl }}">
    <script src="{{ '/js/jquery.min.js' | prepend: site.baseurl }}"></script>
	<script src="{{ '/js/jquery.colorbox.js' | prepend: site.baseurl }}"></script>
	<script>
	$( document ).ready(function() {
		$('a.gallery').colorbox({rel:'gal'});
	});
	</script>
    {% endif %}
	

</head>
