{% assign path = page.url | split:"/"  %}

<!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>
		{% if page.url == site.site_home %} annis-tools {% elsif {{path[1]}} == 'salt' %} <span class="icon-salt"></span> Salt {% elsif {{path[1]}} == 'pepper' %} <span class="icon-pepper-o"></span> Pepper {% elsif {{path[1]}} == 'annis' %} ANNIS {% elsif {{path[1]}}  ==  'atomic' %}<i class="icon-atomic"></i> Atomic{% endif %}
        </h1>
        <p>
{% if page.url == site.site_home %}
A collection of tools to process your linguistic data: <em>annotation</em>, <em>conversion</em>, <em>analysis</em>
{% elsif {{path[1]}} == 'salt' %}
A powerful, tagset-independent and theory-neutral meta model and API for storing, manipulating, and representing nearly all types of linguistic data
{% elsif {{path[1]}} == 'pepper' %}
A highly extensible plattform for conversion and manipulation of linguistic data between an unbound set of formats. Pepper can be used stand-alone as a command line interface, or be integrated as an API into other software products.
{% elsif {{path[1]}} == 'annis' %}
This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.
{% elsif {{path[1]}} == 'atomic' %}
A multilevel corpus annotation tool – and platform – for the desktop
{% endif %}
</p>
      </div>
