<!DOCTYPE html>
<html lang="en">

	{% include head.html %}

  <body role="document">

    {% include navigation.html context="/" %}

    <div class="container theme-showcase" role="main">
    {% include header.html %}
	 {{ content }}


	{% include footer.html %}
</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ site.bootstrap_dist }}/js/bootstrap.min.js"></script>
    <!--<script src="{{ site.bootstrap_dist }}/assets/js/docs.min.js"></script>-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="{{ site.bootstrap_dist }}/assets/js/ie10-viewport-bug-workaround.js"></script>-->
  </body>
</html>

